

/* for mobile*/
@media only screen and (max-width: 320px) {
  .flex-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: stretch;
    height: 33%;
  }
}

/* for all others*/
@media only screen and (min-width: 320px) {
  .flex-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: stretch;
    height: 33%;
  }
}
