.product-item {

  border: 2px solid green;
}

/* for mobile*/
@media only screen and (max-width: 320px) {
  .product-item {
    border: 2px solid yellow;
  }
}

/* for tablet*/
@media only screen and (max-width: 768px) {
  .product-item {
    border: 2px solid blue;
  }
}
